<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.myntra.styledelistingtests.StyleDelistingTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testmasterPlansTypes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testRejectCentralDelistng</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testManualDelisting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testApproveCentralDelisting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetAllPlans</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delistByLoadingFile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testmasterPlansStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testApproveWithNoRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openBaseUrl</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cleanUp</td>
<td>&nbsp;</td></tr>
</table>
