<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>27</td> <td title="&lt;&lt;BaseTest.cleanUpAfterSuite()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;cleanUpAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>-5078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>-3847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-3085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-2742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>-2109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>-640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>-130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:21</td>   <td>-7897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.delistByLoadingFile()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">delistByLoadingFile</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7979</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-8312</td> <td title="&gt;&gt;BaseTest.initBeforeSuite()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;initBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>-5077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>-3841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-3083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-2738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>-2106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>-637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>-127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>-7839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>-5077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>-3842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-3083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>-2739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>-2107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>-638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>-128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:21</td>   <td>-7838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testApproveCentralDelisting()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testApproveCentralDelisting</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:24</td>   <td>-5076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testApproveWithNoRequest()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testApproveWithNoRequest</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:25</td>   <td>-3840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testGetAllPlans(java.lang.String, java.lang.String)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testGetAllPlans</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:26</td>   <td>-3082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testGetAllPlans(java.lang.String, java.lang.String)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testGetAllPlans</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:26</td>   <td>-2737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testManualDelisting()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testManualDelisting</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:27</td>   <td>-2105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testRejectCentralDelistng()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testRejectCentralDelistng</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:28</td>   <td>-636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testmasterPlansStatus()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testmasterPlansStatus</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:29</td>   <td>-127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testmasterPlansTypes()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testmasterPlansTypes</td> 
  <td>main@1912960603</td>   <td></td> </tr>
</table>
