<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>0</td> <td title="&gt;&gt;BaseTest.initBeforeSuite()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;initBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>333</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.init()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:21</td>   <td>415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.delistByLoadingFile()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">delistByLoadingFile</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:21</td>   <td>474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:21</td>   <td>474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testApproveCentralDelisting()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testApproveCentralDelisting</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>3234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>3235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:24</td>   <td>3235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:24</td>   <td>3236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testApproveWithNoRequest()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testApproveWithNoRequest</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>4465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>4470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:25</td>   <td>4471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:25</td>   <td>4472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testGetAllPlans(java.lang.String, java.lang.String)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testGetAllPlans</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:26</td>   <td>5230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testGetAllPlans(java.lang.String, java.lang.String)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testGetAllPlans</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:26</td>   <td>5574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:26</td>   <td>5575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testManualDelisting()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testManualDelisting</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>6203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>6205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:27</td>   <td>6206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:27</td>   <td>6207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testRejectCentralDelistng()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testRejectCentralDelistng</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>7672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>7674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:28</td>   <td>7675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:28</td>   <td>7676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testmasterPlansStatus()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testmasterPlansStatus</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.openBaseUrl()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&gt;&gt;openBaseUrl</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>18/05/21 12:23:29</td>   <td>8185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StyleDelistingTest.testmasterPlansTypes()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">testmasterPlansTypes</td> 
  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeDriver(java.lang.reflect.Method)[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.cleanUp()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>18/05/21 12:23:29</td>   <td>8339</td> <td title="&lt;&lt;BaseTest.cleanUpAfterSuite()[pri:0, instance:com.myntra.styledelistingtests.StyleDelistingTest@548a24a]">&lt;&lt;cleanUpAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1912960603</td>   <td></td> </tr>
</table>
